<div class="nav">
  <div>
    <h3>Hello, <%= user.name%> !</h3>
  </div>
  <div class="menu-nav">
    <% if(user.isAdmin) {%>
    <a href="addemployee">Add Employee</a>
    <a href="reviews">Reviews</a>
    <a href="assign">Assign</a>
    <%}%>
    <a href="/logout">Logout</a>
  </div>
</div>

<div class="dashboard-container">
  <% if(user.isAdmin) {%>
  <div>
    <h1 class="main-heading">Admin's Panel</h1>
  </div>
  <div class="a-e-container">
    <div class="admins-list">
      <h4 class="heading">Admins List</h4>
      <table>
        <tr>
          <th>Name</th>
        </tr>
        <% Admins.forEach(function (admin){%> <% if(admin.isAdmin == true){%>
        <tr>
          <td><%=admin.name%></td>
        </tr>
        <%}})%>
      </table>
    </div>

    <div class="employees-list">
      <h4 class="heading">Employees List</h4>
      <table>
        <tr>
          <th>Name</th>
        </tr>
        <% Admins.forEach(function (admin){%> <% if(!admin.isAdmin){%>
        <tr>
          <td><%=admin.name%></td>
        </tr>
        <%}})%>
      </table>
    </div>
  </div>
  <%}%>

  <!-- for employee viewsss -->

  <% if(!user.isAdmin) {%>
    <h1 id="heading">Employee to be Review</h1>
    <div class="review-box">
    <% Employees.forEach( function (employee){%>
    <%  Assigneds.forEach(function (assign){%>
    <% if(user.id == assign.assignTo){%>
    <%if(employee.id == assign.assignFor) {%>
    <form class="review-form" action="/feedback/<%=assign.assignFor%>/<%=assign.assignTo%>" method="POST">
    <div><h5><%=employee.name%></h5></div>
    <div><textarea name="feedback" placeholder="Enter Feedback For <%=employee.name%>" id="feedback" cols="100" rows="5"></textarea></div>
    <div><button class="btn btn-dark"type="submit">Submit</button></div>
    </form>
    <%}}})})%>
  </div>
  <% if(Assigneds.length == 0){%>
      <p id="noemployee">No Employee are assigned for you to give Feedback !!</p>
      <%}%>
  <%}%>
</div>
