<div class="nav">
  <div>
    <h3>Hello, <%= user.name%> !</h3>
  </div>
  <div class="menu-nav">
    <% if(user.isAdmin) {%>
    <a href="dashboard">Dashboard</a>
    <a href="addemployee">Add Employee</a>
    <a href="assign">Assign</a>
    <%}%>
    <a href="/logout">Logout</a>
  </div>
</div>

<div class="review-container">
  <div class="review-list">
    <h4 class="feedback-heading">Feedback List</h4>
    <table>
      <tr>
        <th>Feedback For</th>
        <th>Submitted By</th>
        <th>Submitted on</th>
        <th>Feedback/Review</th>
      </tr>
      <%Feedbacks.forEach(function (feedback){%>
        <tr>
            <td><%=feedback.assignFor.name%></td>
            <td><%=feedback.assignTo.name%></td>
            <td><%=feedback.createdAt.toLocaleString('en-US', { dateStyle: 'medium', timeStyle: 'short' })%></td>
            <td><%=feedback.feedback%></td>
        </tr>
      <%})%>
    </table>
  </div>
</div>
